*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0f4ff;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  
}
 img{
 
  width: 100px;
  height: 100px;
} 
.left{
  color: #ffffff;
  background-color: #287094;
}
h6 , span{
  line-height: 23px;
}
.pricipale{
  justify-content: center !important;
}